default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  host: <%= ENV["DATABASE_HOST"] %>
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>

development:
  <<: *default
  database: <%= %Q|#{Rails.root.to_s.split("/").last}_development| %>

test:
  <<: *default
  database: <%= %Q|#{Rails.root.to_s.split("/").last}_test| %>


production:
 <<: *default
 database: <%= %Q|#{Rails.root.to_s.split("/").last}_production| %>
