#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(245, 245, 245, 1);
}

#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(46, 39, 39, 1);
  border-width: 1px;
  border-radius: 35px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(46, 39, 39, 1);
}

.container {
  position: relative;
}

.container:before, .container:after {
  position: fixed;
  top: 100px;
  width: 400px;
  background-repeat: no-repeat;
}

.container:before {
  left:   3px;
  height: 715px;
  background-image: image-url("captain-america.png");
}

.container:after {
  right: 3px;
  height: 698px;
  background-image: image-url("iron-man.png");
}
