body {
  padding-top: 70px;
  background-color: rgba(147, 196, 233, 0.29) !important;
}

footer {
  margin: 50px 0;
}

.container {
  position: relative;
}

.container:before, .container:after {
  position: fixed;
  top: 100px;
  width: 400px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center
}

.container:before {
  left:   3px;
  height: 715px;
  background-image: image-url("captain-america.png");
}

.container:after {
  right: 3px;
  height: 698px;
  background-image: image-url("iron-man.png");
}
